@charset "UTF-8";


*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}html{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}
  

/*基本*/
body {
    width: 100%;
    height:100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin:0;
    font-weight:400;
    color:#6F5C47;
    line-height:1.8;
    }
    
.works01 {
    background:url(works01-bg.png) center/cover;
}

.works02 {
    background:url(works02-bg.png) center/cover;
}

.works03 {
    background:url(works03-bg.png) center/cover;
}

.works04 {
    background:url(works04-bg.png) center/cover;
}

.works05 {
    background:url(works05-bg.png) center/cover;
}

.works06 {
    background:url(works06-bg.png) center/cover;
}
    ul,li,dl,dt,dd {
       
        list-style: none;
      }
      
      a { 
        text-decoration: none;
      }
      
      a:hover { 
        transition: .3s;
        cursor: pointer;
      }

      .d-inner {
        width:80%;
        height:100%;
        margin:0 10%;
        padding:5% 0;
        display: flex;
        
    }

    .n-inner {
        width:80%;
        height:100%;
        margin:0 10%;
        position: relative;
        padding:5% 0;
       
    }

    h3 {
         font-size: 1.125rem;
        font-weight:600;
        letter-spacing: 2px;
        margin-bottom:10px;
    }
    
    
    p {
        font-size: 1rem;
        letter-spacing: 1px;
        margin-bottom:10px;
    }

    .w-title {
        font-size: 1.2rem;
        color:#B18E7B;
        font-weight:600;
        letter-spacing: 3px;
        margin-bottom:10px;
    }

.line {
        border-bottom:1px solid #CE915C;
        padding-bottom:5px;
    }
     i {
         margin-right:10px;
     }

#navArea {
        display:none;
      
      }


/*トップ*/
 .main-image nav {
         margin:0;
         position:fixed;
         top:30px;
         left:0;
         width:10%;
         z-index: 10;
     }
      
     .main-image nav ul {
         padding: 0;
     }
      .main-image nav li a {
          color:#645C51;
          font-size: 1.125rem;
          font-style: italic;
          font-weight:500;
          display:block;
          
      }

      .main-image nav li a:hover,.inner ul li a:hover  {
        color:#fff;
      }

      .nav1 {
          width:100%;
          height:45px;
          border: 1.5px solid #a8a882;
          text-align: center;
          margin-top: 20px;
          line-height: 45px;
          letter-spacing: 3px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          
      
    }

   .nav1:hover,.spnav1:hover {
        background: #a8a882;
      }
    
      .nav2{
        width:100%;
        height:45px;
        border: 1.5px solid #b4b4b4;
        text-align: center;
        margin-top: 20px;
        line-height: 45px;
        letter-spacing: 3px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    .nav2:hover,.spnav2:hover {
        background: #b4b4b4;
      }


    .nav3 {
        width:100%;
        height:45px;
        border: 1.5px solid #d3bd60;
        text-align: center;
        margin-top: 20px;
        line-height: 45px;
        letter-spacing: 3px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
   .nav3:hover,.spnav3:hover {
        background: #d3bd60;
      }
      
/*works-main*/      

.w-inner {
    width:90%;
    height:100%;
    margin-left:10%;
    padding-bottom:6%;
    display:flex;
}


.left {
 width:45%;
}
    


.works-heading {
    font-size:2.8rem;
    color:#867e52;
    letter-spacing: 8px;
    font-style: italic;
    background:url(t-bg.png) no-repeat left top;
    padding:15px;
    margin-left:15%;
    margin-top:100px;

}

.left img {
    margin-top:50px;
}

.left a {
    margin:5% 0 0 75%;
    display:inline-block;
    color:#6F5C47;
    font-size:1.375rem;
    position: relative;
}

.left a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #d3bd60;
    transition: all 0.3s ease 0s;
  }
  

  .left a:hover::after {
    width: 100%;
  }


.right {
    width:50%;
    margin-left:5%;
   
}

.i-text {
    width:100%;
    padding:10% 20% 8% 10%;
}

.appbg {
    background-color: rgba(157, 131, 186, 0.3);
    background-image:url(画像\ 31.png);
}


.tracebg {
    background-color:rgba(255, 255, 255, 0.55);
    background-image:url(画像\ 31.png);
}


.i-text h2 {
    margin-bottom:40px;
    font-size:2rem;
    font-style: italic;
    letter-spacing: 5px;
    border-bottom: 1px dashed #9F6327;
    padding-bottom:7px;
}


.i-text h3 {
    font-size:1.1rem;
    margin-bottom:10px;
    display: inline-block;
    font-weight: 200;
    margin-left:5%;
}

.i-text i {
    opacity: .7;
    font-size: 1.2rem;
    color: #9F6327;
}

.i-text p {
    margin-bottom:15px;
    margin-left:5%;
}

.intention {
    margin-left:10%;
}

/*works01*/

.portbg {
    background-color:#CE915C;
    background-image:url(portphoto/画像\ 31.png);
}

/*コンセプト*/

.l-left {
    width:50%;
    padding-left:5%;
}

#port01 span {
  font-weight:600;
  font-size:1.125rem;
}


#port01 .d-inner h3 {
    font-size:2.5rem;
    font-weight:400;
    margin-left:30px;
}

#port01 .key {
    padding:2% 5%;
}

#port01 .key:before {
    border-left: solid 1px hsl(19, 77%, 39%);
    border-top: solid 1px hsl(19, 77%, 39%);
  }
  
#port01 .key:after {
    border-right: solid 1px hsl(19, 77%, 39%);
    border-bottom: solid 1px hsl(19, 77%, 39%);
  }


#port01 .c-right img {
    margin-top:200px;
    width:100%;
    object-fit: cover;
}

#port01 li {
    margin-bottom:40px; 
}

#port01 li p,.b1 p {
    font-size:0.875rem;
}
.l-right {
    width:50%;
    padding: 3% 0 0 5%;
}

/*工夫点*/

.w-title02{
    margin-left:15%;
}
#port02 .d-inner {
    padding-top:3%
}


#port02 .d-inner h3 {
    margin-bottom:20px;

}

.key {
        position: relative;
        line-height: 1.4;
        padding:0.5em 1em;
        display: inline-block;
      }
      
.key:before,.key:after { 
        content:'';
        width: 20px;
        height: 30px;
        position: absolute;
        display: inline-block;
      }
      
 .key:before {
        border-left: solid 1px #F0EBE3;
        border-top: solid 1px #F0EBE3;
        top:0;
        left: 0;
      }
      
.key:after {
        border-right: solid 1px #F0EBE3;
        border-bottom: solid 1px #F0EBE3;
        bottom:0;
        right: 0;
      }

 .b1 {
    width:50%;
    margin-left:6%;
    background: radial-gradient(circle, rgba(224,212,189,0.7) 0%, rgba(209,181,165,0.7) 100%);
    padding:5% 5% 3% 5%;
    position: relative;
    box-shadow: 0 2px 2px #ccc; 
    }

   .b1::before {
    position: absolute;
    top: -1.5em;
    left: 35%;
    height: 40px;
    width: 160px; 
    content: "";
    border: 1px solid #ccc; 
    background-color: #d3bd60; 
    opacity: 0.3;
    transform: rotate( -5deg );
   }

   .b1 span {
       font-size:1rem;
   }
   .b1 p,.b2 p {
       margin-bottom:20px;
   }
  #port03 .n-inner {
       width:60%;
       margin:0 auto;
   }

   .b2 h3 {
       border-bottom:1px dashed #d3bd60;
       padding-bottom:5px;
   }


/*otherWORKS*/


.works h2 {
    font-size:2.5rem;
    color:#867e52;
    letter-spacing:8px;
    font-style: italic;
    background:url(t-bg.png) no-repeat left top;
    padding:15px;
    margin-left:5%;

}

.grid {
    display: grid;
    gap:5%;
    grid-template-columns: repeat(auto-fit,minmax(258px,1fr));
    margin:30px auto;
    width:80%;
}



 .w-img {
      margin-bottom:6%;
      box-shadow: 0 2px 4px rgba(3,3,3,.09);
  }

  .w-text {
    font-size:0.875rem;
    color:#867e52;
    letter-spacing: 3px;
  }
  
  
  .item:hover .w-img{
    transition: 0.3s;
    opacity: .7;
    display: block;
    box-shadow: 0 8px 12px rgba(0,0,0,.12);
    margin-top:-5px;
  }
  


 
/*footer*/

footer {
    width:100%;
    background: url(フッター背景.png) no-repeat center/cover;
}


.f-inner {
  width:100%;
  height:100%;
  display: flex;
  
  
}

.f-nav {
 height:100%;
 line-height: 250px;
 margin:0 auto; 
 display: flex;
}

.f-item {
  color:#e3ddd3;
  font-size:1.125rem;
  margin-right:50px;
}

.f-item:hover,.icon:hover {
    opacity: .6;
}

.icon {
  width:15%;
  margin-right:10%;
}


.icon h1 {
    background: url(square.png) no-repeat center top/contain;
    margin-top:80px;
    width:100%;
    height:50%;
    padding-top:20px;
    color: #e3ddd3;
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 13px;
    text-align: center;
    line-height: 1.2;
    
}



/*works02*/

/*コンセプト*/


.hotelbg {
    background-color: rgba(113, 142, 91, 0.3);
    background-image: url(画像\ 31.png);
}

.c-left {
    width:60%;
    padding:0 5%;
}

.shift {
    margin: 12% 0 12% 15%;
}

.c-right {
    width:40%;
    padding:0 5%;
}

.c-right img {
    margin-bottom:30px;
}

/*分析*/

#analysis i,#cafe2 i {
    font-size:1.25rem;
    color:#CE915C;
}
.an-inner {
    margin-right:10%;
    height:90%;
    display: flex;
}

.an-inner p {
    font-size:0.875rem;
}

.an-left {
     width:50%;
    padding:5% 2% 2% 15%;
}

.an-bg .kama-text {
    font-size:0.835rem;
    margin-bottom:30px
}

.an-acsent {
    font-size:1.25rem;
    font-weight:200;
   
}
.an-bg {
    background-color:rgba(226, 200, 194, 0.8);
    background-image: url(画像\ 31.png);
}

.an-bg p {
  margin-bottom:20px;
  margin-left:5%;
}

.an-right {
    width:45%;
    border-left:1px solid #5d5b5b;
    padding:3%;
    margin:70px 0 30px;
}

.friend {
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.friend p {
  border-left:2px solid #a8a882;
  width:48%;
  padding:2%;
}

 .an-inner span {
font-weight:600;
font-size:1rem;
}

p.ver2 span{
margin-bottom:15px;
display: inline-block;
}


/*工夫点*/
#ingenuity {
    padding-top:6%;
}
　

/*works03*/

.iu-text {
    background-color: rgba(157, 131, 186, 0.3);
    width:100%;
    padding:10% 20% 8% 10%;
}

.app-left img {
    width:80%;
    margin-left:10%;
    object-fit: cover;
}
/*コンセプト*/

.a-left {
    width:50%;
    padding:0 5%;
    margin-top:30px;
}

.a-left p {
    line-height: 2.5;
}

.a-right {
    width:50%;
}

/*ユーザーリサーチ*/
#user .n-inner {
    margin:0 10% 0 15%;
}

#user .n-inner h3 {
    font-size:1.125rem;
    font-weight:300;
}

#user .n-inner span {
    font-size:0.835rem;
}

#user .n-inner p,.badlist li {
    margin:20px 0;
}

.a-graph {
      display:flex;
      justify-content: space-around;
      width:100%;
      font-weight:200;
      margin-top: 40px;
}



.g-contents {
      width:30%;
      padding:2%;
      border-right:1px solid #707070;

  }

.center {
      width:40%;
  }

  .g-contents:last-child {
      border-right:none;
  }


  .g-contents img {
     margin:40px auto;
}

  .g-inner {
      display: flex;
     
  }
  .g-inner li {
   padding:0 2%;
  }

.g-inner img {
      width:80%;
      margin:40px auto;
  }

.badlist {
      font-weight:600;
      margin:30px 0;
  }

  /*map*/
  .con-left{
      width:55%;
      margin-left:5%;
  }

  table,th,td{
      border:1px solid #5C5C5C ;
      font-weight:200;
      font-size:0.875rem;
      background-color:#fff;

  }

  th {
      font-size:1.25rem;
      vertical-align: middle;
  }

  td {
      padding:15px;
      vertical-align: middle;
      text-align:center;
  }

  #apple {
      background:url(applemusic.png) no-repeat center/70%;
     
  }

  #spo {
    background:url(spotify.png)no-repeat center/60%;
  
}

#line {
    background:url(linemusic.png)no-repeat center/75%;
   
}

#amazon {
    background:url(amazon.png)no-repeat center/60%;
    
}

.con-right {
    width:40%;
    margin:15% 0 0 5%;
}

.h3-reserch {
    margin-bottom:20px;
}

.p-reserch {
    font-size:0.875rem;
    line-height:2;
    margin-bottom:10px;
}

.p-reserch span {
    font-size:1rem;
    font-weight:600;
}

.p-inner {
    padding:0;
}

.p-image {
    width:30%;
    margin: 5% 0 0 10%;
}

.persona {
    font-size:0.75rem;
    width:60%;
    padding:0 3%;

}

ul.p-text li {
    margin-bottom:10px;
    font-size:1rem;

}
.j-inner {
    height:100%;
    margin:0 10%;
    padding:6% 0;
    display: flex;
}

.j-left,#consept .w-title,.consept-3,.idea-text {
    margin-left:5%;
}


.j-right {
    width:35%;
    margin-left:5%;
    margin-top:50px;
}


  /*結果*/

#result p {
    font-size:0.875rem;
    margin-bottom:20px;
}

.r-result {
  width:55%;
  margin:0 auto;
  border-radius: 30px;
  padding:4%;
  background: url(inner-child.png)no-repeat center top;
}
   

#result span {
    font-size:1rem;
    font-weight:600;
}


  /*コンセプト*/

.c-title {
    width:95%;
    text-align: center;
    margin-bottom:20px;
}

.c-title h3 {
    font-size:2rem;
    font-weight:300;
    letter-spacing: 10;
    margin-top:50px;
    
}

#consept p {
    font-size:0.75rem;
}

.consept-3 {
    display:flex;
    width:75%;
    margin-top:70px;
}

.c-contents {
    text-align: center;
    width:28%;
    margin-right:5%;

}

.c-contents img {
    width:50%;
    object-fit: cover;
    margin: 0 auto;
}

.c-contents h3 {
    font-size:1rem;
    margin:20px;
    letter-spacing: 3px;
    color:#D3945D;
}

.c-contents p {
    font-size:0.75rem;
    letter-spacing: 3px;
    line-height: 2;
}


#play img {
    width:85%;
}

.idea-img{
    width:50%;
    margin-top:50px;
    margin-left:5%;
}

.idea-text{
    width:40%;
    margin-top:100px;
    line-height: 1.8;
    
}

.i-heading {
    font-size:1.2rem ;
    margin-bottom:20px;
}

.idea-text ul li {
    font-size:1rem;
    font-weight:200;
    margin-bottom:20px;
    margin-left:5%;
}

.idea-text i {
    color:#CE915C;
    font-size:1.8rem;
}

.a-inner {
    padding-top:0;
}

.only {
    display: none;
}


 /*解決策*/

.s-inner {
    width:90%;
    margin-right:10%;
    display: flex;
    padding-top:5%;
}

.s-left {
    width:55%;
    margin:50px auto 0;
    background-color: rgba(237, 196, 170, 0.8);
    background-image: url(colorbg.png);
    padding:3% 3% 3% 15%;
}

.i-con {
    margin-bottom:15px;
}


.i-con h3 {
    font-size:1.125rem;
    font-weight: 100;
    margin-bottom:10px;
}

.i-con p {
    font-size:0.835rem;
    margin-left:7%;
}


.i-con i {
    font-size:2rem;
    color:#fff;
}


.s-right {
    width:45%;
    margin-top:170px;
    object-fit: contain;
}


/*works04*/

.adlbg {
    background-color: rgba(59, 165, 170, 0.3);
    background-image: url(画像\ 31.png);
}


.adl2-bg {
    background-color: rgba(211, 167, 115, 0.8);
    background-image: url(画像\ 31.png);
}


.adl2-bg span{
    font-size:1.125rem;
    font-weight:600;
    border-bottom: 1px solid #9F6327;
}

.adl-an-right {
    margin-top:65px;
}


/*works05*/



.cafebg {
    background-color: rgba(106, 133, 163, 0.5);
    background-image:url(画像\ 31.png);
}

.anac-bg {
    background-color: rgba(217, 212, 190, 0.6);
    background-image:url(画像\ 31.png);
}


.cafe2 p {
    font-size:0.835rem;
}

.cafe2 h3 {
    margin-top: 20px;
}
  

  /*レスポンシブ*/

@media screen and (max-width: 896px) {
 
  #port01 .c-right img{
    width:100%;
  }

  .grid {
   gap: 1.5%;
    margin: 30px auto 120px;
  width:60%;
}


 .w-img {
      margin-bottom:4%;
      
  }

  .left {
      order:2;
  }

  .right {
      order:1;
  }


  .left img {
      width:80%;
     
  }
  /*WORKS2*/

  #kama1 .d-inner,.an-inner,#ingenuity .d-inner,.w-inner,.works-table
  ,#conflict .d-inner,#cafe1 .d-inner {
      flex-direction: column;
      align-items: center;
  }

  .c-left,.left, .right,.works-table{
    width:90%;
}


.shift {
    margin: 5% 0 5% 15%;
}

.c-right {
    width:55%;
    margin-top:30px;
}

.c-right img {
    object-fit: contain;
}


.an-left,.an-right-h{
    padding:5%;
    margin-left:18%;
    width:80%;
}

.an-right-h,.an-right {
    border:none;
    width:80%;
    margin-left:18%;
}

 /*WORKS3*/


  .a-left {
    width:55%;
    padding-left:2%;
    margin-top:30px;
}

#conflict div {
    width:80%;
}

.a-right {
    width:45%;
}

.a-right img {
    margin-top:50px;
    width:120%;
}

th {
    padding:15px; 
}

td {
    padding:15px;
    vertical-align: middle;
}

.consept-3 {
    display:flex;
    width:90%;
    margin:70px auto 0;

}

.idea-img{
    width:40%;
    margin-top:50px;
    margin-left:5%;
}

.idea-text{
    width:50%;
    margin-top:80px
}

.only {
    display: initial;
    margin-top:70px;
}


.s-left {
    width:100%;
    margin:0;
}

.s-right {
    display:none;
}
}

@media screen and (max-width: 480px) {

   
  
  #navArea {
        display: unset;
      
      }
    /*============
    spnav
    =============*/
    
    
    nav {
      display: block;
      position: fixed;
      top: 0;
      left: -300px;
      bottom: 0;
      width: 270px;
      background: #fff;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      transition: .5s;
      z-index: 3;
    }
  
    .open nav {
      left: 0;
    }
    nav .inner {
      padding: 50px 20px 0 10px;
    }
    nav .inner ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    nav .inner ul li {
      position: relative;
      margin: 0;
    }
    
    
    nav .inner ul li a {
      display: block;
      color: #645C51;
      font-style: italic;
      padding: 1em;
      letter-spacing: 3px;
      transition-duration: 0.2s;
      font-size:1.125rem;
    }
    
    .spnav1 {
      border-bottom: 1px solid #a8a882;
    }
    
    .spnav2 {
      border-bottom: 1px solid #b4b4b4;
    }
    
    .spnav3 {
      border-bottom: 1px solid #d3bd60;
    }
    
    
    
    
    /*============
    @keyframes
    =============*/
    @keyframes equalizer01 {
      0% {
        width: 70%;
      }
      10% {
        width: 50%;
      }
      20% {
        width: 100%;
      }
      30% {
        width: 10%;
      }
      40% {
        width: 50%;
      }
      50% {
        width: 70%;
      }
      60% {
        width: 50%;
      }
      70% {
        width: 10%;
      }
      80% {
        width: 100%;
      }
      90% {
        width: 10%;
      }
      100% {
        width: 70%;
      }
    }
    @keyframes equalizer02 {
      0% {
        width: 30%;
      }
      10% {
        width: 20%;
      }
      20% {
        width: 40%;
      }
      30% {
        width: 10%;
      }
      40% {
        width: 20%;
      }
      50% {
        width: 30%;
      }
      60% {
        width: 20%;
      }
      70% {
        width: 10%;
      }
      80% {
        width: 40%;
      }
      90% {
        width: 10%;
      }
      100% {
        width: 30%;
      }
    }
    /*============
    .toggle_btn
    =============*/
     .toggle_btn {
        display: block;
        position: fixed;
        top: 70px;
        right: 30px;
        width: 30px;
        height: 30px;
        transition: all .5s;
        cursor: pointer;
        z-index: 3;
      }
      .toggle_btn span {
        display: block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #6F5C47;
        border-radius: 4px;
        transition: all .5s;
      }
      .toggle_btn span:nth-child(1) {
        top: 4px;
      }
      .toggle_btn span:nth-child(2) {
        top: 14px;
      }
      .toggle_btn span:nth-child(3) {
        bottom: 4px;
      }
      .open .toggle_btn span {
        background-color: #fff;
      }
      .open .toggle_btn span:nth-child(1) {
        -webkit-transform: translateY(10px) rotate(-315deg);
        transform: translateY(10px) rotate(-315deg);
      }
      .open .toggle_btn span:nth-child(2) {
        opacity: 0;
      }
      .open .toggle_btn span:nth-child(3) {
        -webkit-transform: translateY(-10px) rotate(315deg);
        transform: translateY(-10px) rotate(315deg);
      }
    
    
    /*============
    #mask
    =============*/
    #mask {
      display: none;
    }
    .open #mask {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #A25736;
      opacity: .8;
      z-index: 2;
      cursor: pointer;
      transition: all .5s;
    }

   /*works01*/
    html {
      width:100%;
      font-size:0.875rem;
  }


    .main-image nav  {
      display: none;
    }
    
    .works-heading {
        margin-top: 50px;
        margin-left:10%;
    }

    .i-text h2 {
        margin-bottom:20px;
      font-size:1.75rem
    }

    #port01 .d-inner,#port02 .d-inner,#share .d-inner,.a-graph,.consept-3
    ,#play .d-inner,.friend{
        flex-direction: column;
        align-items: center;
    }

    .l-left,.l-right,.b1,.friend p {
        width:100%;
    }

    .b1 {
        margin-bottom:50px;
        margin-left:0;
    }
   
    #port03 .n-inner{
        width:75%;
    }
    .grid {
        width:85%;
    }

    .f-nav {
        line-height: 150px;
      }
      
      .f-item {
        font-size: 0.875rem;
        margin-right: 20px;
        
      }
      
      .icon h1 {
        margin-top: 50px;
        padding-top: 10px;
        font-size: 0.835rem;
        letter-spacing: 0.6rem;
      }
      
      /*works02*/
      
      .left a {
          margin-left:5%;
      }
  
      .shift {
    margin:5% 0;
    }
  
      .c-left {
          padding:0;
      }

      .c-right, .a-right,.a-left{
        width: 90%;
}
     .an-left,.an-right,.a-left {
         margin:0;
     }
    /*works03*/
  
    #share {
         background: url(colorbg.png);     
     }
    
     #user .n-inner {
         margin:0 10%;
     }

   
     .g-contents {
         width:85%;
         border: none;
     }
     .g-contents img,#user .n-inner p, .badlist li{
         margin:0 0 15px 0;
     }

     #conflict div {
         margin:10px auto;
         width:85%;
     }
     
     td,th {
         padding:3px;
         font-size: 0.5rem
     }

     .p-image {
         display: none;
     }

     .r-result {
         width:80%;
     }

     .c-contents {
         width:85%;
     }
     .c-contents img {
         width:30%;
     }
     .consept-3 {
         margin-top:0;
     }

     .idea-text,.idea-img {
         width:85%;
         margin-top:20px;
     }
    }
